.bg-transparent{
    background-color: transparent !important;
}
.em-2{
    font-size: 2em !important;
}
.em-8{
    font-size: 8em !important;
}
.menu-inner{
    width: 250px !important;
}
.font-15{
    font-size: 15px !important; 
}
.font-16{
    font-size: 16px !important; 
}
.font-18{
    font-size: 18px !important; 
}
.border-b-1{
    border-bottom: 1 px solid black !important;
}
.border-none{
    border: none !important;
}
.padding-none{
    padding: 0px !important;
}
.padding-5{
    padding: 5px !important;
}
.padding-l5{
    padding-left: 5px !important;
}
.padding-8{
    padding: 8px !important;
}
.margin-t5{
    margin-top: 5px !important;
}
.margin-t50{
    margin-top: 50px !important;
}
.float-right{
    float: right !important;
}
.float-left{
    float: left !important;
}
.width-100{
    width: 100% !important;
}
.padding-b20{
    padding-bottom: 20px !important;
}
ion-alert.alert-width .alert-wrapper{
    max-width: 95% !important;
}
.icon { 
    vertical-align: middle;
}
label{ 
    vertical-align: middle;
}
.scroll-content{
    margin-top: 60px !important;
}
.my-image{
	background: url("../assets/imgs/background.jpg") no-repeat;
	background-size: cover;
}